body {
    font-family: 'Roboto', sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}


img{
    display: block;
}


.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
   
}

 .header-container{
    display: flex;
     align-items: center;
  justify-content: space-between;
  padding-bottom: 1px;
  padding: 0 15px;
}
 

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}



/* logo */
.logo {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    margin:0 76px 0 0;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
}

.span-logo-header{
    color: #2e2f42;
}

 
 
    header {
  justify-content: space-between; 
  align-items: center;          
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 
  0 1px 1px 0 rgba(46, 47, 66, 0.16), 
  0 2px 1px 0 rgba(46, 47, 66, 0.08);
}


/* title */
.section-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    height: 100%;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
     url("../images/hero.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section-title-text {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
     max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation */


.nav-header {
    display: flex;
    align-items: center;
    gap: 40px;
    text-decoration: none;
}
 
.nav-link {
    padding-bottom: 24px;
    padding-top: 24px;
    align-items: center;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
    color: #404BBF;
}
.nav-link.current::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
   background-color: #404bbf;
   border-radius: 2px;
}

.nav-list {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    gap: 40px;
   
}

.address-list-header{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
     letter-spacing: 0.02em;
     color: #434455;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-left: auto;
    flex-shrink: 0;
    
   
}


.nav-address-menu{
    display: flex;
    padding: 24px 0;    
    gap: 40px;

}


.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
    text-decoration: none;
}

/* Address */

 
.nav-address a,
.address-list{
    color: #434455;
    text-decoration: none;
    font-style: italic;
}

.address-list{
     transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list-item{
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list:hover,
.address-list:focus {
    color: #404BBF;
    text-decoration: none;
}


.button-header {
    border-radius: 4px;
   min-width: 169px;
    height: 56px;
    display: block;
    padding: 16px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4d5ae5;
    cursor: pointer;
    border: none;
    text-align: center;
     transition:  250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 0 15px;
}


.button:hover,
.button:focus {
    background-color: #404BBF;
}


/* Adventages */

.section-advantages{
    padding: 120px 0;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.advantages-list-item{
    width: calc((100% - 72px) / 4);
   

}

.advantages-icon-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px; 
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
     margin-bottom: 8px;
}

.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: left;
}

.list-text {
    text-align: left;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

}

/* Team */
.section-team {
    background-color: #F4F4FD;
    padding-bottom: 120px;
    padding-top: 120px; 
}

.section-team ul li {
    background-color: #FFFFFF;
    text-align: center;
}

.team-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.list-text{
    text-align: center;
}

.team-card{
     border-radius: 0px 0px 4px 4px;
     box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
              0px 1px 1px rgba(46, 47, 66, 0.16),
              0px 1px 6px rgba(46, 47, 66, 0.08);
     background-color: #fff;

}
.team-card-content {
padding: 32px 0;

}

.team-cards-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 24px;
}   
.team-social-icon{
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-link{
    width: 100%;
    height: 100%;
    background-color:  #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-link:hover,
.icons-link:focus {
    background-color: #404bbf;
    text-decoration: none;
}



.team-social-item {
   fill:#F4F4FD;
   width: 40px;
    height: 40px;
  
}

.team-social-icon {
    width: 20px;
    height: 20px;
    fill: #FFFFFF;
}

.team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}




/* Portfolio */

.section-portfolio {
    padding: 120px 0;
}
    

.portfolio-list-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
  row-gap: 48px; 
}

.portfolio-card {
  flex-basis: calc((100% - 48px) / 3);
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.portfolio-card:hover{
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08),
     0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 2px 1px rgba(46, 47, 66, 0.08),
     250ms cubic-bezier(0.4, 0, 0.2, 1);
     transform: translateY(0%);

}

.portfolio-card-content {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-card-image {
 position: relative;
 overflow: hidden;
}

.potfolio-image-text{
    position: absolute;
    top:0;
    font-size: 16px; 
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.portfolio-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
  margin: 0 0 8px 0;
}



.portfolio-list-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
  margin: 0;
}




/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.container-logo{
    margin-right: 120px
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.span-footer {
    color: #f4f4fd;
}

.text-footer {
    display: block;
    max-width: 264px;
    font-family: 'Roboto', sans-serif;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding-top: 16px
}

.text-footer-social {
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #F4F4FD;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}