body {
    font-family: 'Roboto', sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img{
    display: block;
}


.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px
}

 .header-container{
    display: flex;
     align-items: center;
  justify-content: space-between;
  padding-bottom: 1px;
}
 

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}



/* logo */
.logo {
    display: flex;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    margin-right: auto;
}

.span-logo-header{
    color: #2e2f42;
}

 
 
    header {
  display: block;
  justify-content: space-between; 
  align-items: center;          
  padding: 20px 40px;
  border: ;
   border-bottom: 1px solid #e7e9fc;
}

.nav-header {
    display: flex;
    align-items: center;
    gap: 40px;
}
 

/* title */
.section-title {
    display: block;
    text-align: center;
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.section-title-text {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-align: center;
    background-color: #2E2F42;
     max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation */
.nav-link {
    align-items: center;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
}
.nav-list {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    display: flex;
    gap: 30px;
}

.address-list-header{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
     letter-spacing: 0.02em;
     color: #434455;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-left: 332px;
    flex-shrink: 0;
}

.nav-address-menu{
    display: flex;

}


.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
    text-decoration: none;
}

/* Address */


.nav-address a,
.address-list{
    color: #434455;
    text-decoration: none;
    font-style: normal;
}



.address-list:hover,
.address-list:focus {
    color: #404BBF;
    text-decoration: none;
}

/* Button */
.button {
    padding: 12px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    border: none;
    text-align: center;
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}

/* Adventages */

.section-advantages{
    padding-bottom: 180px;
    padding-top: 180px;
}

.advantages-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Team */
.section-team {
    background-color: #F4F4FD;
    padding-bottom: 120px;
    padding-top: 120px; 
}

.section-team ul li {
    background-color: #FFFFFF;
    text-align: center;
}

.team-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}

.team-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.team-card{

}

.team-cards-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}   




/* Portfolio */

.section-portfolio {
    padding: 120px 0;
}
    

.portfolio-list-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio-card {
  flex-basis: calc((100% - 48px) / 3);
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.portfolio-card-content {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.portfolio-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
  margin: 0 0 8px 0;
}



.portfolio-list-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: left;
  margin: 0;
}




/* Footer */
footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.span-footer {
    color: #f4f4fd;
}

.text-footer {
    display: block;
    max-width: 264px;
    font-family: 'Roboto', sans-serif;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    line-height: 1.5;
    padding-top: 16px
}
